KUBE_CONTROLLER_MANAGER_OPTS="--logtostderr=false \
--v=4 \
--master=127.0.0.1:8080 \
--leader-elect=true \
--bind-address=127.0.0.1 \
--service-cluster-ip-range={{service_cidr}} \
--cluster-name=kubernetes \
--cluster-signing-cert-file={{workdir}}/kubernetes/ssl/ca.pem \
--cluster-signing-key-file={{workdir}}/kubernetes/ssl/ca-key.pem \
--root-ca-file={{workdir}}/kubernetes/ssl/ca.pem \
--service-account-private-key-file={{workdir}}/kubernetes/ssl/ca-key.pem \
--horizontal-pod-autoscaler-sync-period=10s \
--horizontal-pod-autoscaler-downscale-stabilization=1m0s \
--horizontal-pod-autoscaler-initial-readiness-delay=30s \
--horizontal-pod-autoscaler-tolerance=0.1 \
--experimental-cluster-signing-duration=87600h0m0s"