KUBE_SCHEDULER_OPTS="--logtostderr=false \
--v=4 \
--master=127.0.0.1:8080 \
--leader-elect=true \
--tls-cert-file={{workdir}}/kubernetes/ssl/ca.pem \
--tls-private-key-file={{workdir}}/kubernetes/ssl/ca-key.pem"